# VacationPy
----

#### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [38]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os


# Configure gmaps


# Import API key
from api_keys import g_key
gmaps.configure(api_key=g_key)

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [39]:
g_key

'AIzaSyC_rkIHyevXGyFNI0OoJ5QngNlH33vU-04'

In [40]:
w_data=pd.read_csv("weather_data.csv") 
w_data.head()

,Unnamed: 0,city,Temperature,Latitude,Longitude,Cloudiness,Humidity
0,0,Paris,16.02,48.85,2.35,10,59
1,1,jijiga,16.23,9.35,42.80,100,80
2,2,bridlington,15.31,54.08,-0.19,95,82
3,3,awjilah,22.53,29.11,21.29,0,49
4,4,itarema,24.56,-2.92,-39.92,2,80

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [41]:
g_key

'AIzaSyC_rkIHyevXGyFNI0OoJ5QngNlH33vU-04'

In [42]:
locations= w_data[["Latitude","Longitude"]]
locations1= w_data[["Latitude","Longitude"]]
humidity= w_data["Humidity"]
locations['Hotel']=""

C:\Users\alelawson\Anaconda3\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.

0      59
1      80
2      82
3      49
4      80
5      93
6      70
7      56
8      53
9      68
10     80
11     84
12     73
13     93
14     72
15     76
16     67
17     69
18     96
19     98
20     97
21     62
22     61
23     50
24    100
25     69
26     93
Name: Humidity, dtype: int64

In [43]:
locations['latlon'] = locations.Latitude.astype(str) +", "+ locations.Longitude.astype(str)

C:\Users\alelawson\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [44]:
fig = gmaps.figure()

# Create heat layer
heat_layer = gmaps.heatmap_layer(locations1, 
                                 weights=humidity, 
                                 dissipating=False, 
                                 max_intensity=100,
                                 point_radius=1)

# Add layer
fig.add_layer(heat_layer)

# Display figure
fig

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [45]:
locations['latlon']

0        48.85, 2.35
1         9.35, 42.8
2       54.08, -0.19
3       29.11, 21.29
4      -2.92, -39.92
5       65.83, 31.17
6      19.37, -81.42
7      -45.13, 170.1
8      -12.02, 17.48
9       60.91, 61.52
10        9.35, 42.8
11      57.02, 82.07
12     -6.88, 112.21
13      65.58, 22.15
14     22.81, 115.83
15      51.75, -1.26
16    46.72, -122.95
17     -19.98, 57.61
18       67.1, 15.39
19    -17.53, 146.03
20       9.53, 31.66
21      46.38, 35.37
22    -10.82, -42.73
23      49.59, 81.05
24      62.73, 22.57
25       63.5, 53.41
26       66.5, 25.72
Name: latlon, dtype: object

In [46]:
response = requests.get(base_url, params=params)
places_data = response.json()

In [48]:
    lat = locations["Latitude"]

In [49]:

params = {
    "radius": 50000,
    "types": "lodging",
    "keyword": "hotel",
    "key": g_key
}

for index, row in locations.iterrows():
  
    lat = row["Latitude"]
    lng = row["Longitude"]
    params["location"] = f"{lat},{lng}"
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    name_address = requests.get(base_url, params=params)
    name_address = name_address.json()
    try:
        locations.loc[index, "Hotel"] = name_address["results"][0]["name"]
    except (KeyError, IndexError):
        print(f"Missing field/result... skipping for {row['Hotel']}")
    
locations.head(40)

C:\Users\alelawson\Anaconda3\lib\site-packages\pandas\core\indexing.py:965: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj[item] = s

Missing field/result... skipping for
Missing field/result... skipping for
Missing field/result... skipping for
Missing field/result... skipping for

,Latitude,Longitude,Hotel,latlon
0,48.85,2.35,Hotel de L'Empereur,"48.85, 2.35"
1,9.35,42.80,ZM International Hotel,"9.35, 42.8"
2,54.08,-0.19,DoubleTree by Hilton Hull,"54.08, -0.19"
3,29.11,21.29,Awjilah Tourist Hotel,"29.11, 21.29"
4,-2.92,-39.92,Vila Ybytu Eco Resort,"-2.92, -39.92"
5,65.83,31.17,,"65.83, 31.17"
6,19.37,-81.42,The Westin Grand Cayman Seven Mile Beach Resor...,"19.37, -81.42"
7,-45.13,170.10,Danseys Pass Hotel,"-45.13, 170.1"
8,-12.02,17.48,,"-12.02, 17.48"
9,60.91,61.52,"Гостевой дом ""Пелым""","60.91, 61.52"
10,9.35,42.80,ZM International Hotel,"9.35, 42.8"
11,57.02,82.07,,"57.02, 82.07"
12,-6.88,112.21,ASTON Inn Gresik,"-6.88, 112.21"
13,65.58,22.15,Clarion Hotel Sense,"65.58, 22.15"
14,22.81,115.83,汕尾黄金海岸显达酒店,"22.81, 115.83"
15,51.75,-1.26,voco Reading,"51.75, -1.26"
16,46.72,-122.95,Hotel RL Olympia,"46.72, -122.95"
17,-19.98,57.61,Hilton Mauritius Resort & Spa,"-19.98, 57.61"
18,67.10,15.39,"Radisson Blu Hotel, Bodø","67.1, 15.39"
19,-17.53,146.03,Castaways Resort & Spa Mission Beach,"-17.53, 146.03"
20,9.53,31.66,,"9.53, 31.66"
21,46.38,35.37,"Hotel ""Paradise Garden""","46.38, 35.37"
22,-10.82,-42.73,Xique Xique Palace Hotel,"-10.82, -42.73"
23,49.59,81.05,Гостиница Ай- Hotel Ai,"49.59, 81.05"
24,62.73,22.57,Hotel Astor,"62.73, 22.57"
25,63.50,53.41,Hotel Chibyu,"63.5, 53.41"
26,66.50,25.72,Santa's Igloos Arctic Circle,"66.5, 25.72"

In [ ]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Lat", "Lng"]]

In [ ]:
# Add marker layer ontop of heat map


# Display figure